#stars {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: block;
    background: #050505;
}
body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #c9a227;
}

nav {
    position: relative;
    z-index: 1;
}

.hero {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    margin: 0;
}

.hero h2 {
    font-weight: 300;
    margin: 0;
}

.hero p {
    color: #bdbdbd;
    font-size: 1.2rem;
}

.hero {
    position: relative;
    z-index: 1;
}

.button {
    padding: 14px 28px;
    border: 1px solid #c9a227;
    color: #c9a227;
    text-decoration: none;
    border-radius: 6px;
}

.button:hover {
    background: #c9a227;
    color: black;
}

.page {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.page h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 80px;
}

.about-section {
    margin-bottom: 60px;
}



.about-section p {
    line-height: 1.9;
    color: #dddddd;
    font-size: 1.1rem;
}

.closing-quote {
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    font-size: 1.4rem;
    color: #c9a227;
    line-height: 1.7;
}

.page h2 {
    color: #c9a227;
    margin-bottom: 20px;
    font-weight: 400;
}

.research-list {
    line-height: 2;
    color: #dddddd;
    font-size: 1.1rem;
}

.research-list li {
    margin-bottom: 10px;
}
